.patient-info {
    margin-left: 20px !important;
    margin-top: 20px !important;
}

.input-responses {
    width: 45%;
}

.fixed-width {
    width: 93.5%;
}

.navigate-history-link {
    display: inline-block;
    margin-top: 15px;
}